<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.canvas.core.CanvasParticipant"
            id="phasereditor.canvas.core.participant1"
            order="20">
      </participant>
   </extension>

</plugin>
