<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.canvas.core.CanvasFilesBuildParticipant"
            id="phasereditor.canvas.core.participant1"
            order="20">
      </participant>
   </extension>
   <extension
         id="phasereditor.canvas.core.problem"
         name="Canvas Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="phasereditor.project.core.problem">
      </super>
   </extension>

</plugin>
