<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.atlas.ui.wizards.NewAtlasMakerWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/atlas_add.png"
            id="phasereditor.atlas.ui.wizards.new.atlasmaker"
            name="Atlas Generator File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.atlas.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.atlas.ui.wizards.new.atlasmaker">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.atlas.ui.wizards.new.atlasmaker">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.atlas.ui.editors.AtlasGeneratorEditor"
            extensions="atlas"
            icon="platform:/plugin/phasereditor.ui/icons/images.png"
            id="phasereditor.atlas.ui.editors.AtlasGenEditor"
            name="Atlas Generator">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.atlas.ui.editors.AtlasGenEditor?before=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push"
               tooltip="Delete selected sprites.">
         </command>
         <command
               commandId="phasereditor.atlas.ui.editor.buildatlas"
               icon="platform:/plugin/phasereditor.ui/icons/cog.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.atlas.ui.editor.showsettings"
               icon="platform:/plugin/phasereditor.ui/icons/wrench.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.eclipse.ui.workbench.navigate">
         <toolbar
               id="phasereditor.atlas.ui.maintoolbar"
               label="Atlas">
            <command
                  commandId="phasereditor.atlas.ui.editor.buildatlas"
                  icon="platform:/plugin/phasereditor.ui/icons/cog.png"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="phasereditor.atlas.ui.editors.AtlasGenEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push"
                  tooltip="Delete selected frames.">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="phasereditor.atlas.ui.editors.AtlasGenEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.atlas.ui.handlers.DeleteAtlasSelectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="phasereditor.atlas.core.AtlasFrame">
                     </instanceof>
                  </iterate>
               </with>
               <with
                     variable="activeEditorId">
                  <equals
                        value="phasereditor.atlas.ui.editors.AtlasGenEditor">
                  </equals>
               </with></and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.atlas.ui.handlers.BuildAtlasHandler"
            id="phasereditor.atlas.ui.editor.buildatlas"
            name="Build Atlas">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.atlas.ui.handlers.ShowSettingsHandler"
            id="phasereditor.atlas.ui.editor.showsettings"
            name="Settings">
      </command>
   </extension>

</plugin>
