@import url("platform:/plugin/org.eclipse.ui.themes/css/e4_default_mac.css");


.MPartStack, .MPartStack.active {	
	swt-corner-radius: 6;
}

#org-eclipse-ui-editorss .MPartStack.active {
	swt-selected-tab-fill: '#org-eclipse-ui-workbench-ACTIVE_TAB_BG_START' #F4F4F4 100% 50%;
	background-color: #F4F4F4;
}

CTabFolder {
  swt-selected-tabs-background: #F4F4F4 100% 50%;
}



 