<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.inspect.ui.views.JsdocView"
            icon="platform:/plugin/phasereditor.ui/icons/javadoc.png"
            id="phasereditor.inspect.ui.jsdoc"
            name="Jsdoc"
            restorable="true">
      </view>
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.inspect.ui.views.PhaserTypesView"
            icon="platform:/plugin/phasereditor.ui/icons/class_obj.png"
            id="phasereditor.inspect.ui.views.PhaserTypesView"
            name="Phaser Types">
      </view>
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.inspect.ui.views.PhaserExamplesView"
            icon="platform:/plugin/phasereditor.ui/icons/controller.png"
            id="phasereditor.inspect.ui.views.phaserExamples"
            name="Phaser Examples">
      </view>
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.inspect.ui.views.PhaserFilesView"
            icon="platform:/plugin/phasereditor.ui/icons/generic_editor.png"
            id="phasereditor.inspect.ui.views.PhaserFilesView"
            name="Phaser Files">
      </view>
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.inspect.ui.views.PhaserHierarchyView"
            icon="platform:/plugin/phasereditor.ui/icons/class_hi.png"
            id="phasereditor.inspect.ui.views.PhaserHierarchyView"
            name="Phaser Hierarchy">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.inspect.ui.views.PhaserTypesView?after=additions">
         <command
               commandId="phasereditor.inspect.ui.showPhaserJsdoc"
               icon="platform:/plugin/phasereditor.ui/icons/javadoc.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.showSourceCode"
               icon="platform:/plugin/phasereditor.ui/icons/source.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.inspect.ui.views.phaserExamples?after=additions">
         <command
               commandId="phasereditor.inspect.ui.runPhaserExample"
               icon="platform:/plugin/phasereditor.ui/icons/world.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.showSourceCode"
               icon="platform:/plugin/phasereditor.ui/icons/source.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.inspect.ui.views.PhaserFilesView?after=additions">
         <command
               commandId="phasereditor.inspect.ui.showPhaserJsdoc"
               icon="platform:/plugin/phasereditor.ui/icons/javadoc.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.showSourceCode"
               icon="platform:/plugin/phasereditor.ui/icons/source.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.inspect.ui.views.PhaserHierarchyView?after=additions">
         <command
               commandId="phasereditor.inspect.ui.showSubHierarchy"
               icon="platform:/plugin/phasereditor.ui/icons/sub_co.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.inspect.ui.showSuperHierarchy"
               icon="platform:/plugin/phasereditor.ui/icons/super_co.png"
               style="push">
         </command>
         <separator
               name="phasereditor.inspect.ui.hierarchySep1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.inspect.ui.showPhaserJsdoc"
               icon="platform:/plugin/phasereditor.ui/icons/javadoc.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.showSourceCode"
               icon="platform:/plugin/phasereditor.ui/icons/source.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.inspect.ui.handlers.ShowPhaserJsdocHandler"
            commandId="phasereditor.inspect.ui.showPhaserJsdoc">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="phasereditor.inspect.core.jsdoc.IPhaserMember">
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.inspect.ui.handlers.RunPhaserExampleHandler"
            commandId="phasereditor.inspect.ui.runPhaserExample">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="phasereditor.inspect.core.examples.PhaserExampleModel">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.inspect.ui.showPhaserJsdoc"
            name="Show Phaser Documentation">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.inspect.ui.runPhaserExample"
            name="Run Phaser Example">
      </command>
      <command
            defaultHandler="phasereditor.inspect.ui.handlers.ChangeTypeHierarchyHandler"
            id="phasereditor.inspect.ui.showSuperHierarchy"
            name="Show the Supertype Hierarchy">
      </command>
      <command
            defaultHandler="phasereditor.inspect.ui.handlers.ChangeTypeHierarchyHandler"
            id="phasereditor.inspect.ui.showSubHierarchy"
            name="Show the Subtype Hierarchy">
      </command>
   </extension>

</plugin>
