<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.audiosprite.core.AudioSpritesDescriber"
            file-extensions="json"
            id="phasereditor.core.contenttype.audiosprite"
            name="Audio Sprite"
            priority="normal">
      </content-type>
   </extension>

</plugin>
