<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.assetexplorer.ui.views.AssetExplorer"
            icon="platform:/plugin/phasereditor.ui/icons/package.png"
            id="phasereditor.assetpack.views.assetExplorer"
            name="Assets">
      </view>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
       <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetexplorer.ui.handlers.AssetExplorerShowListHandler"
            id="phasereditor.assetpack.ui.explorer.showlist"
            name="Only Sprites">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetexplorer.ui.handlers.AssetExplorerShowTreeHandler"
            id="phasereditor.assetpack.ui.explorer.showtree"
            name="All Assets">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetexplorer.ui.handlers.NewAssetExplorerHandler"
            id="phasereditor.assetpack.ui.explorer.newview"
            name="Open New Window">
      </command>
 </extension>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.assetpack.views.assetExplorer?before=additions">
         <command
               commandId="org.eclipse.ui.project.cleanAction"
               icon="platform:/plugin/phasereditor.ui/icons/arrow_refresh.png"
               label="Re-build the internal representation of the assets."
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="platform:/plugin/phasereditor.ui/icons/monitor.png"
               style="push"
               tooltip="Show the selection in the Preview window.">
         </command>
         <command
               commandId="phasereditor.assetpack.shownInEditor"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png"
               style="push"
               tooltip="Edit selected object.">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.newview" 
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/new.png"
               style="push">
         </command>
         <!--
         <separator
               name="phasereditor.assetpack.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showlist"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_icons.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showtree"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_list.png"
               style="push">
         </command>
         -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.assetpack.views.assetExplorer?after=additions">
         <command
               commandId="phasereditor.assetpack.ui.explorer.newview"
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/new.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.assetpack.shownInEditor"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png"
               style="push"
               tooltip="Edit selected object.">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="platform:/plugin/phasereditor.ui/icons/monitor.png"
               style="push"
               tooltip="Show the selection in the Preview window.">
         </command>
         <command
               commandId="phasereditor.canvas.ui.compile"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               label="References">
            <command
                  commandId="phasereditor.canvas.ui.findPrefabsReferences"
                  label="Find"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="phasereditor.assetpack.ui.findAssetReferences"
                  label="Find"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="phasereditor.assetpack.ui.replaceAssetsReferences"
                  label="Replace"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="Refactor">
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  label="Rename..."
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.move"
                  label="Move..."
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete..."
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
         <!--
         <command
               commandId="phasereditor.assetpack.ui.explorer.showlist"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_icons.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showtree"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_list.png"
               style="push">
         </command>
         -->
      </menuContribution>
   </extension>
 <extension
       point="phasereditor.project.core.buildParticipant">
    <participant
          handler="phasereditor.assetexplorer.ui.AssetsExplorerProjectBuildParticipant"
          id="phasereditor.assetexplorer.ui.participant"
          order="1000">
    </participant>
 </extension>
</plugin>
