*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
#*.war
#*.ear

# eclipse output folders
**/bin/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# others

#*.dll
#*.exe
#*.zip
#*.dylib
#*.DS_Store


# docs build folders

docs/v1/_build/**
docs/v2/_build/**

