<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="TP 2.1.2">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/home/arian/Documents/PhaserEditor/Releases/v2.1.5/IDE-TP-repository/"/>
			<unit id="com.make.chromium.cef.feature.feature.group" version="0.4.0.201904250337"/>
			<unit id="org.eclipse.cdt.native.feature.group" version="9.9.0.201909051303"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="1.6.600.v20190907-0426"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20190423-0625"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.200.v20190502-0212"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.5.v20190423-0614"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.0.0.v20190530-1947"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
			<unit id="org.eclipse.egit.feature.group" version="5.5.0.201909110433-r"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.16.0.v20190625-1131"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="2.19.0.v20190822-1451"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.8.0.v20190725-1807"/>
			<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.6.300.v20190903-0934"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.300.v20190716-0825"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.500.v20190903-0934"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.500.v20190903-0934"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.500.v20190903-0934"/>
			<unit id="org.eclipse.help.feature.group" version="2.2.700.v20190916-1045"/>
			<unit id="org.eclipse.jgit.feature.group" version="5.5.0.201909110433-r"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="5.5.0.201909110433-r"/>
			<unit id="org.eclipse.mylyn.commons.feature.group" version="3.24.2.v20180904-2231"/>
			<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.16.0.v20180904-2231"/>
			<unit id="org.eclipse.platform.feature.group" version="4.13.0.v20190916-1323"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.13.0.v20190916-1045"/>
			<unit id="org.eclipse.swt.chromium.feature.feature.group" version="0.10.2.201908071629"/>
			<unit id="org.eclipse.tm.terminal.connector.local.feature.feature.group" version="4.5.100.201907301734"/>
			<unit id="org.eclipse.tm.terminal.connector.ssh.feature.feature.group" version="4.5.100.201907301734"/>
			<unit id="org.eclipse.tm.terminal.connector.telnet.feature.feature.group" version="4.5.100.201907301734"/>
			<unit id="org.eclipse.tm.terminal.control.feature.feature.group" version="4.5.102.201907301734"/>
			<unit id="org.eclipse.tm.terminal.feature.feature.group" version="4.5.100.201907301734"/>
			<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="4.5.100.201907301734"/>
			<unit id="org.eclipse.userstorage.feature.group" version="1.2.0.v20190308-0433"/>
			<unit id="org.eclipse.wildwebdeveloper.feature.feature.group" version="0.4.2.201909061612"/>
			<unit id="phasereditor.ide.features.feature.group" version="2.1.4.20191016"/>
			<unit id="phasereditor.platform.features.feature.group" version="2.1.1.20190623"/>
			<unit id="phasereditor.wildwebdeveloper.features.feature.group" version="2.1.1.20190623"/>
			<unit id="phasereditor2d.com" version="2.1.4.20191016"/>
		</location>
	</locations>
	<environment>
		<arch>x86_64</arch>
		<os>linux</os>
		<ws>gtk</ws>
		<nl>en_US</nl>
	</environment>
	<launcherArgs>
		<vmArgs>-Dosgi.requiredJavaVersion=1.8 -Dosgi.instance.area.default=@user.home/eclipse-workspace -XX:+UseG1GC -XX:+UseStringDeduplication --add-modules=ALL-SYSTEM -Dosgi.requiredJavaVersion=1.8 -Dosgi.dataAreaRequiresExplicitInit=true -Xms256m -Xmx1024m --add-modules=ALL-SYSTEM</vmArgs>
	</launcherArgs>
</target>