<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="phasereditor.ide.intro.PhaserIDE">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="phasereditor.ide.application"
            description="Develop 2D video-games with the Phaser game engine."
            name="Phaser Editor">
         <!--   
         <property
               name="applicationCSS"
               value="platform:/plugin/phasereditor.ide/css/default.css">
         </property>
         -->
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png,icons/icon48.png,icons/icon64.png,icons/icon128.png,icons/icon256.png">
         </property>
         <property
               name="appName"
               value="Phaser Editor">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="platform:/plugin/phasereditor.ide/plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/icon128.png">
         </property>
         <property
               name="aboutText"
               value="Phaser Editor v1.1.3&#x0A;&#x0A;Supports Phaser v2.4.7&#x0A;&#x0A;Powered by:&#x0A;&#x0A;PhaserJS (http://phaser.io)&#x0A;Eclipse (http://eclipse.org)&#x0A;Libgdx (http://libgdx.badlogicgames.com)&#x0A;FFMpeg (http://ffmpeg.org)&#x0A;OptiPNG (http://optipng.sourceforge.net)&#x0A;Eclipse Color Themes (http://eclipsecolorthemes.com)&#x0A;Game Mechanics Explorer (http://gamemechanicexplorer.com)&#x0A;How To Draw Funny Cartoons (http://how-to-draw-funny-cartoons.com)&#x0A;Fam Fam Fam slick icons (http://famfamfam.com)&#x0A;&#x0A;Keep in touch with the Phaser Editor community: http://phasereditor.boniatillo.com&#x0A;&#x0A;Copyright (c) Arian Fornaris 2015, 2016">
         </property>
        
      </product>
   </extension>
   <!--
   No intro for now
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="phasereditor.ide.intro">
      </intro>
      <introProductBinding
            introId="phasereditor.ide.intro"
            productId="phasereditor.ide.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="phasereditor.ide.intro"
            content="introContent.xml"
            id="phasereditor.ide.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   -->
   
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="phasereditor.ide.ui.PhaserPerspective"
            icon="platform:/plugin/phasereditor.ui/icons/phaser-ship.png"
            id="phasereditor.ide.ui.perspective"
            name="Phaser">
      </perspective>
   </extension>   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="phasereditor.ide.ui.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="phasereditor.assetpack.views.assetExplorer"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="phasereditor.ui.preview"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="phasereditor.assetpack.views.assetExplorer">
         </view>
         <view
               id="phasereditor.chains.ui.views.chains"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="phasereditor.chains.ui.views.chains">
         </view>
         <viewShortcut
               id="phasereditor.ui.preview">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="phasereditor.chains.ui.views.chains">
         </viewShortcut>
         <showInPart
               id="phasereditor.ui.preview">
         </showInPart>
      </perspectiveExtension>
   </extension>

</plugin>
