* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.control {
    position: absolute;
}

button {
    border-style: solid;
    border-width: 2px;
    padding: 2px 10px 2px 10px;
}

button:active {
    margin-top: -1px;
    padding: 3px 8px 0px 12px;
}

canvas {
    outline: none;
}

.panel,
.panelClientArea,
.panelCorner {
    position: absolute;
}

.panelTitle {
    font-weight: bold;
}

.panel .actionButton {
    padding: 0px;
}

.panel .actionButton:active {
    margin-top: 0px;
    padding: 0px;
    box-shadow: inset 1px 1px 2px #00000088;
}

.splitHandler {
    background: red;
}
