/*

Rules to provide the dark colors

Important:   
    - No layout information should be provided.
    - To layout a control, see controls.css.
    - To layout a workbench UI, see workbench.css

*/

.dark body {
    background: #262626;
    color: #e0e0e0;
}

.dark input {
    background: #b5b5b5;
}

.dark input:focus {
    background: #d5d5d5;
}

/* TabPane */

.dark .TabPaneContentArea,
.dark .TabPaneLabel.selected {
    background: #5e5e5e;
}

.dark .TabPaneContentArea:empty {
    background: transparent !important;
}

.dark .TabPaneLabel.selected {
    text-shadow: 1px 1px #0e0e0e;
}

/* Part */

.dark .TabPane.activePart .TabPaneLabel.selected {
    box-shadow: inset 0px 2px 0px #f0a050;
}

.dark .TabPane.activePart .TabPaneContentArea,
.dark .TabPane.activePart .TabPaneLabel.selected {
    background: #6e6e6e;
}

.dark .ViewerView .FilteredViewer {
    background: #3f3f3f;
}

.dark .ViewerView {
    color: orange;
}

/* Scroll Bar */

.dark .ScrollBar,
.dark .ScrollHandler {
    background: transparent;
}

.dark .ScrollHandler {
    background: #858585;
}

.dark .ScrollHandler:hover {
    background: #585858;
}

.dark .ScrollHandler:active {
    background: #282828;
}

/* Property Page */


.dark .PropertyTitleArea {
    background: linear-gradient(#343434, #323232);
}

.dark .PropertyTitleArea label {
    font-weight: bold;
}

.dark .PropertySectionPane {
    background: #3f3f3f;
}