/*

Rules to provide the dark colors

Important:   
    - No layout information should be provided.
    - To layout a control, see controls.css.
    - To layout a workbench UI, see workbench.css

*/

.light body {
    background: #a2a2a2;
    color: #0e0e0e;
}

.light input {
    background: #cfcfcf;
    border: solid 1px #a0a0a0;
}

.light input:focus {
    background: #f6f6f6;
}

/* TabPane */

.light .TabPaneContentArea,
.light .TabPaneLabel.selected {
    background: #bdbdbd;
}

.light .TabPaneLabel.selected {
    text-shadow: 1px 1px #f0f0f0;
}

/* Part */

.light .TabPane.activePart .TabPaneLabel.selected {
    box-shadow: inset 0px 2px 0px #4242ff;
}

.light .TabPane.activePart .TabPaneContentArea,
.light .TabPane.activePart .TabPaneLabel.selected {
    background: #cacaca;
}

.light .ViewerView .FilteredViewer {
    background: #dadada;
    border: solid 1px #e0e0e0;
}

/* Scroll Bar */

.light .ScrollBar,
.light .ScrollHandler {
    background: transparent;
}

.light .ScrollHandler {
    background: #858585;
}

.light .ScrollHandler:hover {
    background: #585858;
}

.light .ScrollHandler:active {
    background: #484848;
}

/* Property Page */


.light .PropertyTitleArea {
    background: linear-gradient(#d5d5d5, #aaaaaa);
}

.light .PropertyTitleArea label {
    text-shadow: 1px 1px #e0e0e0;
}

.light .PropertySectionPane {
    background: #d5d5d5;
    border: solid 1px #e0e0e0;
}