.light body {
    background: #a2a2a2;
    color: #434343;
}

/* toolbar */


.light button {
    background: linear-gradient(#c8c8c8, #b8b8b8);
    border-color: #909090;
    color: #f0f0f0;
    text-shadow:
        -1px -1px 0 #909090,
        1px -1px 0 #909090,
        -1px 1px 0 #909090,
        1px 1px 0 #909090;

    border-left-color: #d0d0d0;
    border-top-color: #d0d0d0;
    border-right-color: #909090;
    border-bottom-color: #909090;
}

.light button:active {
    background: linear-gradient(#b8b8b8, #c8c8c8);
    border-left-color: #909090;
    border-top-color: #909090;
    border-right-color: #d0d0d0;
    border-bottom-color: #d0d0d0;
}


/* controls */

/* panel */

.light .Panel {
    background: #d2d2d2;
}

.light .Panel.activePart {
    background: #e2e2e2;
}

.light .PanelClientArea {
    background: #c2c2c2;
}

.light .activePart .PanelClientArea {
    background: #c7c7c7;
}

.light .Panel,
.light .PanelClientArea,
.light .PanelTitle {
    box-shadow: -1px -1px 0 #909090,
        1px -1px 0 #909090,
        -1px 1px 0 #909090,
        1px 1px 0 #909090;
}

.light .PanelClientArea {
    box-shadow: inset 2px 2px 2px #40404008,
        inset -2px 2px 2px #40404008,
        inset 2px -2px 2px #40404008,
        inset -2px -2px 2px #40404008,
        -1px -1px 0 #909090,
        1px -1px 0 #909090,
        -1px 1px 0 #909090,
        1px 1px 0 #909090;
}

.light .Panel .actionButton {
    border-color: #909090;
}

.light .Panel .PanelTitle {
    background: #b8b8b8;
    background: linear-gradient(#d8d8d8, #b8b8b8);

    /*

    color: #ffffff;
    text-shadow:
        -1px -1px 0 #909090,
        1px -1px 0 #909090,
        -1px 1px 0 #909090,
        1px 1px 0 #909090;

    */

    color: #606060;
    text-shadow: 0px 2px 2px #e0e0e0;
}

.light .activePart .PanelTitle {
    background: linear-gradient(#e4e4e4, #c4c4c4);
}

.light .Panel .actionButton {
    background: radial-gradient(#c8c8c8, #b8b8b8);
}

.light .Panel .actionButton:active {
    background: radial-gradient(#b8b8b8, #c8c8c8);
}

.light .ScrollBar,
.ScrollHandler {
    position: absolute;
}

.light .ScrollBar {
    background: transparent;
    box-shadow: inset 2px 2px 2px #40404018,
        -1px -1px 0 #909090;
}

.light .ScrollHandler {
    background: linear-gradient(#c8c8c8, #b8b8b8);
    box-shadow: inset -1px -1px 0 #909090,
        inset 1px 1px 0 #e0e0e0;
}

.light .ScrollHandler:active {
    background: linear-gradient(#b0b0b0, #c0c0c0);
    box-shadow: inset -1px -1px 0 #e0e0e0,
        inset 1px 1px 0 #909090;
}

.light input {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
        inset -1px -1px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#b0b0b0, #c0c0c0);
}

.light input:focus {
    background: linear-gradient(#a8a8a8, #c8c8c8);
}

/* PropertyPage */

.PropertyTitleArea {
    background: #b8b8b8;
    background: linear-gradient(#bfbfbf, #afafaf);
    color: #ffffff;

    box-shadow: inset 2px 2px 2px #40404008,
        inset -2px 2px 2px #40404008,
        inset 2px -2px 2px #40404008,
        inset -2px -2px 2px #40404008,
        -1px -1px 0 #909090,
        1px -1px 0 #909090,
        -1px 1px 0 #909090,
        1px 1px 0 #909090;

    color: #606060;
    text-shadow: 0px 2px 2px #cfcfcf;
}

/* sections */

.ImagePreviewFormArea {
    background: #4a4a4a;
    box-shadow:
        inset 4px 0px 5px rgba(0, 0, 0, 0.2),
        inset 0px 4px 5px rgba(0, 0, 0, 0.2),
        inset -4px 0px 5px rgba(0, 0, 0, 0.2)        
}