@import "../../phasereditor2d.ui.controls/css/controls.css";

body,
html {
    margin: 0px;
    padding: 0px;
}

body  {
    font-family: /*"dejavu sans mono";*/ Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input {
    min-width: 0px;
}

label {
    min-width: 0px;
}

.toolbar {
    padding: 5px;
}

/* PropertyPage */

.formGrid {
    display: grid;
    align-items: center;
    grid-gap: 5px;
}

.formGrid-cols-2 {
    grid-template-columns: auto 1fr; 
}

.formGrid-cols-1 {
    grid-template-columns: 1fr; 
}

