@import "./controls.css";

body,
html {
    margin: 0px;
    padding: 0px;
}

body  {
    font-family: /*"dejavu sans mono";*/ Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.toolbar {
    padding: 5px;
}

