<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <!--
      <editor
            class="phasereditor.assetpack.ui.editors.AssetPackEditor_deprecated"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/box.png"
            id="phasereditor.assetpack.editor_deprecated"
            name="Asset Pack Editor (deprecated)">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.contentType">
         </contentTypeBinding>
      </editor>
      -->
      <editor
            class="phasereditor.assetpack.ui.editors.AssetPackEditor2"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/box.png"
            id="phasereditor.assetpack.editor"
            name="Asset Pack Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="phasereditor.assetpack.core.AssetModel"
            class="phasereditor.assetpack.ui.preview.AssetPreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="phasereditor.assetpack.core.IAssetElementModel"
            class="phasereditor.assetpack.ui.preview.AssetElementPreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="phasereditor.assetpack.ui.preview.FilePreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="phasereditor.assetpack.core.IAssetPackEelement"
            class="phasereditor.assetpack.ui.properties.AssetPGrigAdapterFactory">
         <adapter
               type="phasereditor.ui.properties.PGridModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="phasereditor.assetpack.core.AssetModelFactory"
            id="phasereditor.assetpack.AssetModelFactory">
      </factory>
      <factory
            class="phasereditor.assetpack.ui.preview.FileElementFactory"
            id="phasereditor.assetpack.filesFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.assetpack.shownInEditor"
            name="Edit In Asset Pack Editor">
      </command>
      <command
            id="phasereditor.assetpack.ui.findAssetReferences"
            name="Find Asset References">
      </command>
      <command
            id="phasereditor.assetpack.ui.replaceAssetsReferences"
            name="Replace Assets References">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.ShowInPreviewHandler"
            commandId="phasereditor.ui.commands.showInPreview">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="phasereditor.ui.views.IPreviewFactory">
                     </adapt>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.EditInPackEditorHandler"
            commandId="phasereditor.assetpack.shownInEditor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetSectionModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetPackModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetGroupModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.IAssetElementModel">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.FindAssetReferencesHandler"
            commandId="phasereditor.assetpack.ui.findAssetReferences">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.ImageAssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.IAssetFrameModel">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.ReplaceAssetsReferencesHandler"
            commandId="phasereditor.assetpack.ui.replaceAssetsReferences">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.ImageAssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.IAssetFrameModel">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.DeleteAssetHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
         	<and>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetModel">
                     </instanceof>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetSectionModel">
                     </instanceof>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetGroupModel">
                     </instanceof>
                  </or>
               </iterate>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="phasereditor.assetpack.editor">
               </equals>
            </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.RenameAssetHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetSectionModel">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetSectionModel">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.MoveAssetHandler"
            commandId="org.eclipse.ui.edit.move">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="phasereditor.assetpack.core.AssetModel">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.assetpack.ui.wizards.NewAssetPackWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/box_add.png"
            id="phasereditor.assetpack.ui.wizards.new"
            name="Asset Pack File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.assetpack.ui.wizards.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.assetpack.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="phasereditor.project.ui.commonWizards"
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.assetpack.ui.wizards.new">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.assetpack.ui.AssetPartsBuildParticipant"
            id="phasereditor.assetpack.ui.participant3"
            order="4">
      </participant>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="phasereditor.assetpack.ui.search.SearchAssetResultPage"
            icon="platform:/plugin/phasereditor.ui/icons/brick.png"
            id="phasereditor.assetpack.ui.search.resultPage"
            label="Asset References"
            searchResultClass="phasereditor.assetpack.ui.search.SearchAssetResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="phasereditor.assetpack.ui.refactorings.AssetFileDeleteParticipant"
            id="phasereditor.assetpack.ui.assetFileDeleteParticipant"
            name="Asset File Delete Participant">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof></enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="phasereditor.assetpack.ui.refactorings.AssetFileRenameParticipant"
            id="phasereditor.assetpack.ui.assetFileRenameParticipant"
            name="Asset File Rename Participant">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="phasereditor.assetpack.ui.refactorings.AssetFileMoveParticipant"
            id="phasereditor.assetpack.ui.assetFileMoveParticipant"
            name="Asset File Move Participant">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </moveParticipant>
   </extension>
   
</plugin>
