<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.animation.ui.AnimationsEditor"
            icon="platform:/plugin/phasereditor.ui/icons/frame-animation.png"
            id="phasereditor.animation.ui.AnimationsEditor"
            name="Animations Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.core.animations">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.animation.ui.AnimationsEditorProjectBuildParticipant"
            id="phasereditor.animation.ui.AnimationsEditorProjectBuildParticipant"
            order="1000">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.animation.ui.handlers.DeleteAnimationSelectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="phasereditor.animation.ui.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.animation.ui.handlers.SelectAllFramesHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.animation.ui.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.animation.ui.handlers.PlayPauseAnimationHandler"
            commandId="phasereditor.animation.ui.playPauseAnimation">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.animation.ui.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.animation.ui.playPauseAnimation"
            name="Play/Pause the current animation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="phasereditor.animation.ui.playPauseAnimation"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SPACE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="phasereditor.animation.ui.wizards.NewAnimationsFileWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/frame-animation.png"
            id="phasereditor.animation.ui.newAnimationsFile"
            name="Animations File">
         <description>
            Creates a new Animations JSON file.
         </description>
         <keywordReference
               id="phasereditor.animation.ui.keyword1">
         </keywordReference>
         <keywordReference
               id="phasereditor.animation.ui.keyword2">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.animation.ui.newAnimationsFile">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.animation.ui.newAnimationsFile">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="phasereditor.animation.ui.keyword1"
            label="animation">
      </keyword>
      <keyword
            id="phasereditor.animation.ui.keyword2"
            label="sprite">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="phasereditor.assetpack.core.animations.AnimationModel"
            class="phasereditor.animation.ui.AnimationModelAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
   </extension>
</plugin>
