* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -o-user-select: text !important;
    user-select: text !important;
}

.control {
    position: absolute;
    box-sizing: border-box;
}

button {
    border-style: solid;
    border-width: 2px;
    padding: 2px 10px 2px 10px;
}

button:active {
    margin-top: -1px;
    padding: 3px 8px 0px 12px;
}

canvas {
    outline: none;
}

.Panel,
.PanelClientArea {
    position: absolute;
}

.PanelTitle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    align-items: center;
    justify-items: start;
    font-weight: bold;
}

.PanelTitleText {
    margin-left: 5px;
}

.Panel .actionButton {
    padding: 0px;
}

.Panel .actionButton:active {
    margin-top: 0px;
    padding: 0px;
    box-shadow: inset 1px 1px 2px #00000088;
}


input {
    border-style: none !important;
    outline: none;
    padding: 2px;
    padding-left: 3px;
    border-radius: 2px;
}

/* tab pane */

.TabPane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.TabPaneTitleBar {
    display: flex;
}

.TabPaneLabel {
    float: left;
    padding: 0.5em;
}

.TabPaneLabel.selected {
    /* nothing */
}

.TabPaneContentArea .ContentArea  {
    display: none;
}

.TabPaneContentArea .ContentArea.selected  {
    display: block;
}

.TabPaneContentArea, .TabPaneContentArea .ContentArea {
    position: relative;
    width: 100%;
    height: 100%;
}

/* viewers */

.ScrollBar,
.ScrollHandler {
    position: absolute;
}

.ScrollBar {
    background: #eee;
}

.ScrollHandler {
    background: #000;
}

.FilterControl {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 5px 6px 5px 6px;
}

.FilterControl input {
    width: 100%;
}

/* PropertyPage */

.PropertyPage {

    display: grid;
    grid-template-columns: 100%;
    align-items: start;

    /*
    width: 100%;
    height: 100%;
    */
}

.PropertySectionPane {
    display: grid;
    grid-template-rows: auto 1fr;
    position: initial;
    height: 100%;
}

.PropertyTitleArea {
    display: inline-grid;
    grid-template-columns: 20px 1fr;
    height: 1em;
    padding: 3px 2px;
}

.PropertyTitleArea label {
    font-weight: bold;
}

.expandBtn {
    width: 16px;
    height: 16px;
}

.expandBtn.collapsed {
    background-image: url("../images/16/tree-expand.png");
}

.expandBtn.expanded {
    background-image: url("../images/16/tree-collapse.png");
}

.PropertyFormArea {
    display: grid;
}

.formSimpleProps {
    padding: 5px;
}