* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -o-user-select: text !important;
    user-select: text !important;
}

.control {
    position: absolute;
}

button {
    border-style: solid;
    border-width: 2px;
    padding: 2px 10px 2px 10px;
}

button:active {
    margin-top: -1px;
    padding: 3px 8px 0px 12px;
}

canvas {
    outline: none;
}

.panel,
.panelClientArea {
    position: absolute;
}

.panelTitle {
    font-weight: bold;
}

.panel .actionButton {
    padding: 0px;
}

.panel .actionButton:active {
    margin-top: 0px;
    padding: 0px;
    box-shadow: inset 1px 1px 2px #00000088;
}

.scrollBar,
.scrollHandler {
    position: absolute;
}

.scrollBar {
    background: #eee;
}

.scrollHandler {
    background: #000;
}

input {
    border-style: none !important;
}



.filteredViewer input {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

/* PropertyPage */

.PropertyPage {

    display: grid;
    grid-template-columns: 100%;
    align-items: start;

    width: 100%;
    /*height: 100%;*/
}

.PropertySectionPane {
    display: grid;
    position: initial;
}

.PropertyTitleArea {
    display: inline-grid;
    grid-template-columns: 20px 1fr;
    height: 1em;
    padding: 3px 2px;
}

.PropertyTitleArea label {
    font-weight: bold;
}

.expandBtn {
    width: 16px;
    height: 16px;
}

.expandBtn.collapsed {
    background-image: url("../images/16/tree-expand.png");
}

.expandBtn.expanded {
    background-image: url("../images/16/tree-collapse.png");
}

.PropertyFormArea {
    display: grid;    
}

.formSimpleProps {
    padding: 0.5em;
}