<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <!--
      <editor
            class="phasereditor.assetpack.ui.editors.AssetPackEditor_deprecated"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/box.png"
            id="phasereditor.assetpack.editor_deprecated"
            name="Asset Pack Editor (deprecated)">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.contentType">
         </contentTypeBinding>
      </editor>
      -->
      <editor
            class="phasereditor.assetpack.ui.editor.AssetPackEditor"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/box.png"
            id="phasereditor.assetpack.ui.editor.AssetPackEditor"
            name="Asset Pack Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
     <handler
            class="phasereditor.assetpack.ui.editor.handlers.EditInPackEditorHandler"
            commandId="phasereditor.assetpack.ui.editor.shownInEditor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetSectionModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetPackModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetGroupModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.IAssetElementModel">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      
       <handler
            class="phasereditor.assetpack.ui.editor.handlers.DeleteAssetHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
         	<and>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetModel">
                     </instanceof>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetSectionModel">
                     </instanceof>
                     <instanceof
                           value="phasereditor.assetpack.core.AssetGroupModel">
                     </instanceof>
                  </or>
               </iterate>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="phasereditor.assetpack.ui.editor.AssetPackEditor">
               </equals>
            </with>
            </and>
         </enabledWhen>
      </handler>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.assetpack.ui.editor.shownInEditor"
            name="Edit In Asset Pack Editor">
      	 </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.assetpack.ui.editor.wizards.NewAssetPackWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/box_add.png"
            id="phasereditor.assetpack.ui.wizards.new"
            name="Asset Pack File">
      </wizard>

   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.assetpack.ui.wizards.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         id="phasereditor.project.ui.commonWizards"
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.assetpack.ui.wizards.new">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.assetpack.ui.editor.wizards.NewFactoryJSFileWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.assetpack.ui.editor.build.AssetPackEditorProjectBuildParticipant"
            id="phasereditor.assetpack.ui.editor.build.AssetPackEditorProjectBuildParticipant"
            order="phasereditor.assetpack.ui.editor.participant1">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="phasereditor.ui.prefs.phasereditor"
            class="phasereditor.assetpack.ui.editor.preferences.AssetPackEditorPreferencePage"
            id="phasereditor.assetpack.ui.editor.preferencePage"
            name="Asset Pack Editor">
      </page>
   </extension>

</plugin>
