<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="phasereditor.inspect.ui.prefs.PhaserPreferencePage"
            id="phasereditor.inspect.ui.prefs.phaserPage"
            name="Phaser">
      </page>
   </extension>

</plugin>
