.MTrimmedWindow {
    background-color: #d4d4d4;
}

.MPartStack {
	/*swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');*/
	swt-tab-renderer: url('bundleclass://phasereditor.ide/phasereditor.ide.intro.MyTabRendering');	
	swt-selected-tab-fill:  #e8e8e8;
	swt-unselected-tabs-color: #d4d4d4; 
	swt-unselected-hot-tab-color-background: #d8d8d8;
	swt-outer-keyline-color: #d4d4d4;
	swt-inner-keyline-color: #d4d4d4;
	swt-tab-outline: #d4d4d4;
	/*padding: 5px 5px 5px 5px;*/
	padding: 0px;
	swt-shadow-visible: false;
	swt-mru-visible: true;
	swt-simple: true;
	color: black;
}

.MPartStack.active {
	swt-selected-tab-fill: #f2f2f2;
}


.MPart.active Composite, 
.MPart.active Tree, 
.MPart.active Table, 
.MPart.active Canvas, 
.MPart.active .Canvas, 
.MPart.active Label, 
.MPart.active TabFolder, 
.MPart.active TabItem {
	background-color: #f0f0f0;
	color: #000000;
}

.MPart Composite,
.MPart Tree,
.MPart Table,
.MPart Canvas,
.MPart .Canvas,
.MPart Label,
.MPart TabFolder,
.MPart TabItem {
	background-color: #e8e8e8;
}

.MPart Text {
	background-color: #e0e0e0;
}

.MPart Table, .MPart Tree {
	swt-header-background-color: #d4d4d4;
}

