@import url("platform:/plugin/org.eclipse.ui.themes/css/e4-dark.css");

.MPartStack {
	swt-tab-renderer: url('bundleclass://phasereditor.ide/phasereditor.ide.intro.MyTabRendering');	
	swt-unselected-hot-tab-color-background: #222222;
	padding: 0px 0px 0px 0px;
}

.MPart Text[style~='SWT.SEARCH'],
Text[style~='SWT.SEARCH'] {
    background-color: #2F2F2F;
    color: #AAAAAA;
}

.MPart Text,
Text {
    background-color: #2A2A2A;
    color: #AAAAAA;
}

.FilteredTreeCanvas,
.Canvas {
	background-color: #292929;
}