/*
IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-ui-themes {
	preferences:
		'AbstractTextEditor.Color.Background.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
		'AbstractTextEditor.Color.Background=245,245,245'
		'currentLineColor=222,232,244'
}
*/

.MTrimmedWindow {
    background-color: #d4d4d4;
}

.MPartStack {
	/*swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');*/
	swt-tab-renderer: url('bundleclass://phasereditor.ide/phasereditor.ide.intro.MyTabRendering');	
	swt-selected-tab-fill:  #e8e8e8;
	swt-unselected-tabs-color: #d4d4d4; 
	swt-unselected-hot-tab-color-background: #d8d8d8;
	swt-outer-keyline-color: #d4d4d4;
	swt-inner-keyline-color: #d4d4d4;
	swt-tab-outline: #d4d4d4;
	/*padding: 5px 5px 5px 5px;*/
	padding: 0px;
	swt-shadow-visible: false;
	swt-mru-visible: true;
	swt-simple: true;
	color: black;
	swt-tab-height: 30px;
}


.MPartStack.active {
	swt-selected-tab-fill: #f2f2f2;
}

#org-eclipse-e4-ui-compatibility-editor Canvas {
    background-color: #e8e8e8;
}

#org-eclipse-e4-ui-compatibility-editor.active Canvas {
    background-color: #f0f0f0;
    color: #000000;
}


.MPart Composite,
.MPart Tree,
.MPart Table,
.MPart Canvas,
.MPart .Canvas,
.MPart Label,
.MPart TabFolder,
.MPart TabItem,
.MPart Browser
{
	background-color: #e8e8e8;
}

.MPart.active Composite, 
/*.MPart.active Tree,*/ /* For certain reason this breaks the table focusing */
.MPart.active Table, 
.MPart.active Canvas,
.MPart.active .Canvas, 
.MPart.active Label, 
.MPart.active TabFolder, 
.MPart.active TabItem,
.MPart.active Browser 
{
	background-color: #f0f0f0;
}



.MPart Text, .MPart StyledText {
	background-color: #e0e0e0;
}

.MPart Table, .MPart Tree {
	swt-header-background-color: #d4d4d4;
}

#org-eclipse-ui-editorss StyledText {
	background-color: #e8e8e8;
}

#org-eclipse-ui-editorss StyledText {
	background-color: inherit;
}


/* Forms */


Form, FormHeading {
	background-color: #e8e8e8;
	background: #e8e8e8;
	background-image: #e8e8e8;
	color: #000000;
}

Form {
	/* Bug 465148: Additional styling for the Form */
	text-background-color: #e0e0e0;

	tb-toggle-hover-color: #505050;
	tb-toggle-color: #505050;
	h-hover-full-color: #505050;
	h-hover-light-color: #505050;
	h-bottom-keyline-2-color: #eaeaea;
	h-bottom-keyline-1-color: #eaeaea;
}



Section {
	background-color: #e8e8e8;
	swt-background-mode: 'force';
  	color: #000000;
  	background-color-titlebar: #e0e0e0;
  	background-color-gradient-titlebar: #e0e0e0;
  	border-color-titlebar: #e0e0e0;
}

TabbedPropertyTitle > CLabel{
	color: #000000;
}

TabbedPropertyTitle {
	swt-backgroundGradientStart-color:  #eaeaea;
	swt-backgroundGradientEnd-color:    #eaeaea;
	swt-backgroundBottomKeyline1-color: #eaeaea;
	swt-backgroundBottomKeyline2-color: #eaeaea;
}

TabbedPropertyList {
	swt-tabAreaBackground-color : #e8e8e8;
	swt-tabBackground-color     : #e8e8e8;
	swt-tabNormalShadow-color   : #e8e8e8;             /* color of shadow lines around the tabs */
	swt-tabDarkShadow-color     : #e8e8e8; /* line color of the tiny scroll triangle (at top / at bottom) */
	color                       : #000000; /* text color in the tab / tab area */
}


