<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.assetpack.ui.editors.AssetPackEditor"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/box.png"
            id="phasereditor.assetpack.editor"
            name="Asset Pack Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="phasereditor.assetpack.core.AssetModel"
            class="phasereditor.assetpack.ui.preview.AssetPreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="phasereditor.assetpack.core.IAssetElementModel"
            class="phasereditor.assetpack.ui.preview.AssetElementPreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="phasereditor.assetpack.ui.preview.FilePreviewAdapterFactory">
         <adapter
               type="phasereditor.ui.views.IPreviewFactory">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="phasereditor.assetpack.core.AssetModelFactory"
            id="phasereditor.assetpack.AssetModelFactory">
      </factory>
      <factory
            class="phasereditor.assetpack.ui.preview.FileElementFactory"
            id="phasereditor.assetpack.filesFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.assetpack.ui.views.AssetExplorer"
            icon="platform:/plugin/phasereditor.ui/icons/box_search.png"
            id="phasereditor.assetpack.views.assetExplorer"
            name="Assets">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.assetpack.shownInEditor"
            name="Edit In Asset Pack Editor">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetpack.ui.handlers.AssetExplorerShowListHandler"
            id="phasereditor.assetpack.ui.explorer.showlist"
            name="Only Sprites">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetpack.ui.handlers.AssetExplorerShowTreeHandler"
            id="phasereditor.assetpack.ui.explorer.showtree"
            name="All Assets">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.assetpack.ui.handlers.NewAssetExplorerHandler"
            id="phasereditor.assetpack.ui.explorer.newview"
            name="Open New Window">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.assetpack.views.assetExplorer?before=additions">
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="platform:/plugin/phasereditor.ui/icons/eye.png"
               style="push"
               tooltip="Show the selection in the Preview window.">
         </command>
         <command
               commandId="phasereditor.assetpack.shownInEditor"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png"
               style="push"
               tooltip="Edit selected object.">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.newview"
               icon="platform:/plugin/phasereditor.ui/icons/new.png"
               style="push">
         </command>
         <!--
         <separator
               name="phasereditor.assetpack.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showlist"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_icons.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showtree"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_list.png"
               style="push">
         </command>
         -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.assetpack.views.assetExplorer?after=additions">
         <command
               commandId="phasereditor.assetpack.shownInEditor"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png"
               style="push"
               tooltip="Edit selected object.">
         </command>
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="platform:/plugin/phasereditor.ui/icons/eye.png"
               style="push"
               tooltip="Show the selection in the Preview window.">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.newview"
               icon="platform:/plugin/phasereditor.ui/icons/new.png"
               style="push">
         </command>
         <!--
         <command
               commandId="phasereditor.assetpack.ui.explorer.showlist"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_icons.png"
               style="push">
         </command>
         <command
               commandId="phasereditor.assetpack.ui.explorer.showtree"
               icon="platform:/plugin/phasereditor.ui/icons/application_view_list.png"
               style="push">
         </command>
         -->
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.ShowInPreviewHandler"
            commandId="phasereditor.ui.commands.showInPreview">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="phasereditor.ui.views.IPreviewFactory">
                     </adapt>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.assetpack.ui.handlers.EditInPackEditorHandler"
            commandId="phasereditor.assetpack.shownInEditor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetSectionModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetPackModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.AssetGroupModel">
                        </instanceof>
                        <instanceof
                              value="phasereditor.assetpack.core.IAssetElementModel">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.assetpack.ui.wizards.NewAssetPackWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/box_add.png"
            id="phasereditor.assetpack.ui.wizards.new"
            name="Asset Pack File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.assetpack.ui.wizards.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.assetpack.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="phasereditor.project.ui.commonWizards"
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.assetpack.ui.wizards.new">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="phasereditor.assetpack.ui.Startup">
      </startup>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.assetpack.ui.AssetPreviewBuildParticipant"
            id="phasereditor.assetpack.ui.participant3"
            order="2">
      </participant>
   </extension>
   
</plugin>
