/**
Default styles for some custom classes.
Change with theme as appropriate..
*/

.deprecated-notice {
    border: 2px solid rgb(255, 238, 238);
    padding: 10px;
    margin-bottom: 10px;
}

.toc-deprecated {
    text-decoration: line-through;
}

.returns-type {
    float: left;
    padding-right: 10px;
}

.returns-desc {    
}

dt a {
    font-weight: normal;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}

body {
	padding-left: 0.5em;
}
