<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.scene.ui.build.SceneScreenshotBuildParticipant"
            id="phasereditor.scene.ui.build.SceneScreenshotBuildParticipant"
            order="3">
      </participant>
   </extension>
   <extension
         point="phasereditor.project.ui.fileRenderer">
      <fileRenderer
            class="phasereditor.scene.ui.SceneFileRendererProvider">
      </fileRenderer>
   </extension>
</plugin>
