<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.scene.ui.editor.SceneEditor"
            default="false"
            id="phasereditor.scene.ui.SceneEditor"
            name="Scene Editor">
      </editor>
   </extension>

</plugin>
