<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.scene.ui.editor.SceneEditor"
            default="false"
            id="phasereditor.scene.ui.SceneEditor"
            name="Scene Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.scene.ui.editor.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="phasereditor.scene.ui.SceneEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
