<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.animation.ui.editor.AnimationsEditor"            
            icon="platform:/plugin/phasereditor.ui/icons/frame-animation.png"
            id="phasereditor.animation.ui.editor.AnimationsEditor"
            name="Animations Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.assetpack.core.animations">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.animation.ui.editor.AnimationsEditorProjectBuildParticipant"
            id="phasereditor.animation.ui.editor.AnimationsEditorProjectBuildParticipant"
            order="1000">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.animation.ui.editor.handlers.DeleteAnimationSelectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="phasereditor.animation.ui.editor.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.animation.ui.editor.handlers.SelectAllFramesHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.animation.ui.editor.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.animation.ui.editor.handlers.PlayPauseAnimationHandler"
            commandId="phasereditor.animation.ui.playPauseAnimation">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="phasereditor.animation.ui.editor.AnimationsEditor">
                  </equals>
               </with>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="phasereditor.animation.ui.editor.AnimationsEditor">
                     </equals>
                  </with>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
               </and>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.animation.ui.editor.handlers.QickOutlineHandler"
            commandId="phasereditor.ui.quickOutline">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.animation.ui.editor.AnimationsEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.animation.ui.playPauseAnimation"
            name="Play/Pause the current animation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="phasereditor.animation.ui.playPauseAnimation"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SPACE">
      </key>
      <key
            commandId="phasereditor.ui.quickEdit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Q">
      </key>
   </extension>
   
     <extension
        point="org.eclipse.ui.elementFactories">
     <factory
           class="phasereditor.animation.ui.model.AnimationModelElementFactory"
           id="phasereditor.animation.ui.model.animationFactory">
     </factory>
  </extension>
  
  <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.animation.ui.editor.wizards.NewAnimationsFileWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/new_frame-animation.png"
            id="phasereditor.animation.ui.editor.newAnimationsFile"
            name="Animations File">
         <description>
            Creates a new Animations JSON file.
         </description>
         <keywordReference
               id="phasereditor.animation.ui.editor.keyword1">
         </keywordReference>
         <keywordReference
               id="phasereditor.animation.ui.editor.keyword2">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.animation.ui.editor.newAnimationsFile">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.animation.ui.editor.newAnimationsFile">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="phasereditor.animation.ui.editor.keyword1"
            label="animation">
      </keyword>
      <keyword
            id="phasereditor.animation.ui.editor.keyword2"
            label="sprite">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="phasereditor.animation.ui.editor.refactorings.RenameAnimationsEditorInput"
            id="phasereditor.animation.ui.editor.refactorings.RenameAnimationsEditorInput"
            name="Rename Animations Editor Input">
         <enablement>
            <reference
                  definitionId="phasereditor.assetpack.core.animationsContentTypeTest">
            </reference>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="phasereditor.animation.ui.editor.refactorings.MoveAnimationsEditorInput"
            id="phasereditor.animation.ui.editor.refactorings.MoveAnimationsEditorInput"
            name="Move Animations Editor Input">
         <enablement>
            <reference
                  definitionId="phasereditor.assetpack.core.animationsContentTypeTest">
            </reference></enablement>
      </moveParticipant>
   </extension>
   

</plugin>
