<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.atlas.ui.editor.wizards.NewAtlasMakerWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/atlas_add.png"
            id="phasereditor.atlas.ui.wizards.new.atlasmaker"
            name="Texture Packer File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.atlas.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.atlas.ui.wizards.new.atlasmaker">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.atlas.ui.wizards.new.atlasmaker">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.atlas.ui.editor.TexturePackerEditor"
            extensions="atlas"
            icon="platform:/plugin/phasereditor.ui/icons/images.png"
            id="phasereditor.atlas.ui.editor.TexturePackerEditor"
            name="Texture Packer">
         <contentTypeBinding
               contentTypeId="phasereditor.atlas.core.atlasContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.atlas.ui.editor.handlers.DeleteAtlasSelectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <or>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.ui.views.ContentOutline">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="phasereditor.atlas.ui.editor.TexturePackerEditor">
                     </equals>
                  </with>
               </and>
               <with
                     variable="activePartId">
                  <equals
                        value="phasereditor.atlas.ui.editor.TexturePackerEditor">
                  </equals>
               </with></or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.atlas.ui.editor.build.TexturePackerEditorBuildParticipant"
            id="TexturePackerEditorBuildParticipant"
            order="1000">
      </participant>
   </extension>


</plugin>
