<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.project.ui.wizards.NewPhaserProjectWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            hasPages="true"
            icon="platform:/plugin/phasereditor.ui/icons/new_phaser_project.png"
            id="phasereditor.project.ui.newproject"
            name="Phaser Project"
            project="true">
      </wizard>
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.project.ui.wizards.NewPhaserExampleProjectWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            hasPages="true"
            icon="platform:/plugin/phasereditor.ui/icons/new_phaser_project.png"
            id="phasereditor.project.ui.newExampleProject"
            name="Phaser Example Project"
            project="true">
      </wizard>
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.project.ui.wizards.NewJSClassFileWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            hasPages="true"
            icon="platform:/plugin/phasereditor.ui/icons/new_generic_editor.png"
            id="phasereditor.project.ui.newclass"
            name="JavaScript Class File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.project.ui.newproject">
         </newWizardShortcut>
         <newWizardShortcut
               id="phasereditor.project.ui.newExampleProject">
         </newWizardShortcut>
         <newWizardShortcut
               id="phasereditor.project.ui.newclass">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="phasereditor.project.ui.keywords.phaser"
            label="phaser">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.project.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="phasereditor.project.ui.commonWizards"
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.project"
            type="new"
            wizardId="phasereditor.project.ui.newproject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="phaser.new.project"
            type="new"
            wizardId="phasereditor.project.ui.newExampleProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="phaser.new.js"
            type="new"
            wizardId="phasereditor.project.ui.newclass">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="phasereditor.project.ui.resetlibraries"
            name="Reset Project Libraries">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.project.ui.handlers.AddPhaserNatureHandler"
            description="Enable Phaser tooling in the project ."
            id="phasereditor.project.ui.addnature"
            name="Add Phaser Nature">
      </command>
      <command
            defaultHandler="phasereditor.project.ui.handlers.RemovePhaserNatureHandler"
            description="Disable Phaser tooling in the project."
            id="phasereditor.project.ui.removeNature"
            name="Remove Phaser Nature">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            defaultHandler="phasereditor.project.ui.handlers.OpenNewProjectExplorerHandler"
            id="phasereditor.project.ui.openNewProjectExplorer"
            name="Open New Project Explorer">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.project.ui.createExampleProject"
            name="Create Project with Example">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer?after=FRAME_ACTION_GROUP_ID">
        <command
              commandId="org.eclipse.ui.navigate.goInto"
              disabledIcon="platform:/plugin/phasereditor.ui/icons/d/gointo_nav.png"
              icon="platform:/plugin/phasereditor.ui/icons/gointo_nav.png"
              label="Go Into"
              style="push">
        </command>
     </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="phasereditor.project.ui.openNewProjectExplorer"
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/new.png"
               label="New Project Explorer"
               style="push">
         </command>
      </menuContribution>    
      <menuContribution
            allPopups="false"
            locationURI="menu:project?after=buildAutomatically">
         <command
               commandId="phasereditor.project.ui.resetlibraries"
               style="push">
         </command>
         <command
               commandId="phasereditor.project.ui.addnature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="phasereditor.project.core.nature">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="phasereditor.project.ui.removeNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="phasereditor.project.core.nature">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:phasereditor.inspect.ui.views.phaserExamples?after=additions">
         <command
               commandId="phasereditor.project.ui.createExampleProject"
               icon="platform:/plugin/phasereditor.ui/icons/new_phaser_project.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="phasereditor.project.ui.PhaserProblemLabelDecorator"            
            icon="platform:/plugin/org.eclipse.ui/icons/full/ovr16/error_ovr.png"
            id="phasereditor.project.ui.problemsDecorator"
            label="Phaser Problems Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="platform:/plugin/phasereditor.ui/icons/phaser_project_decorator.png"
            id="phasereditor.project.ui.natureimage"
            natureId="phasereditor.project.core.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="phasereditor.ui.prefs.phasereditor"
            class="phasereditor.project.ui.prefs.PhaserProjectPreferencesPage"
            id="phasereditor.project.ui.prefs.phaserProjectPrefs"
            name="Project">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="phasereditor.project.ui.prefs.ProjectPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.project.ui.handlers.CreateProjectFromExampleHandler"
            commandId="phasereditor.project.ui.createExampleProject">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="phasereditor.inspect.core.examples.PhaserExampleModel">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
</plugin>
