<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="phasereditor.ui.phaser"
            name="Phaser">
      </category>
      <view
            allowMultiple="true"
            category="phasereditor.ui.phaser"
            class="phasereditor.ui.views.PreviewView"
            icon="icons/monitor.png"
            id="phasereditor.ui.preview"
            name="Preview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.RefreshPreviewHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.ui.preview">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.ui.handlers.ShowSourceCodeHandler"
            commandId="phasereditor.ui.showSourceCode">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="phasereditor.ui.ISourceLocation">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:phasereditor.ui.preview?before=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:navigate?after=additions">
         <separator
               name="phasereditor.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="icons/monitor.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="phasereditor.ui.phaserCategory"
            name="Phaser">
      </category>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            description="Show selection in the Preview window"
            id="phasereditor.ui.commands.showInPreview"
            name="Open In Preview">
      </command>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            id="phasereditor.ui.showSourceCode"
            name="Show Source Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="phasereditor.ui.wizardCategory"
            name="Phaser">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.ShowInPreviewHandler"
            commandId="phasereditor.ui.commands.showInPreview">
      </handler>
   </extension>
   <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="phasereditor.ui.commands.showInPreview"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+V">
     </key>
  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="phasereditor.ui.prefs.PhaserEditorPreferencePage"
            id="phasereditor.ui.prefs.phasereditor"
            name="Phaser Editor">
      </page>
      <page
            category="phasereditor.ui.prefs.phasereditor"
            class="phasereditor.ui.prefs.DialogsPreferencesPage"
            id="phasereditor.ui.dialogsPrefPage"
            name="Dialogs">
      </page>
      <page
            category="phasereditor.ui.prefs.phasereditor"
            class="phasereditor.ui.prefs.PreviewPreferencePage"
            id="phasereditor.ui.previewPrefPage"
            name="Preview">
      </page>
      <page
            category="phasereditor.ui.previewPrefPage"
            class="phasereditor.ui.prefs.SpritesheetPreviewPreferencePage"
            id="phasereditor.ui.previewSpriteSheet"
            name="Spritesheet">
      </page>
       <page
            category="phasereditor.ui.previewPrefPage"
            class="phasereditor.ui.prefs.TilemapPreviewPreferencesPage"
            id="phasereditor.ui.previewTilemap"
            name="Tilemap">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="phasereditor.ui.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.nio.file.Path"
            class="phasereditor.ui.JavaPathAdapterFactory">
         <adapter
               type="phasereditor.ui.ISourceLocation">
         </adapter>
      </factory>
   </extension>
</plugin>
