<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="phasereditor.ui.phaser"
            name="Phaser">
      </category>
      <view
            allowMultiple="true"
            category="phasereditor.ui.phaser"
            class="phasereditor.ui.views.PreviewView"
            icon="icons/eye.png"
            id="phasereditor.ui.preview"
            name="Preview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.RefreshPreviewHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.ui.preview">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:phasereditor.ui.preview?before=additions">
         <command
               commandId="phasereditor.ui.commands.openNewPreview"
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/new.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <command
               commandId="phasereditor.ui.commands.clearpreview"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:navigate?after=additions">
         <separator
               name="phasereditor.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.ui.commands.showInPreview"
               icon="icons/eye.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="phasereditor.ui.handlers.ClearPreviewHandler"
            id="phasereditor.ui.commands.clearpreview"
            name="Clear">
      </command>
      <category
            id="phasereditor.ui.phaserCategory"
            name="Phaser">
      </category>
      <command
            categoryId="phasereditor.ui.phaserCategory"
            description="Show selection in the Preview window"
            id="phasereditor.ui.commands.showInPreview"
            name="Open In Preview">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="phasereditor.ui.wizardCategory"
            name="Phaser">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.ui.handlers.ShowInPreviewHandler"
            commandId="phasereditor.ui.commands.showInPreview">
      </handler>
   </extension>
   <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="phasereditor.ui.commands.showInPreview"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+V">
     </key>
  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="phasereditor.ui.prefs.PhaserEditorPreferencePage"
            id="phasereditor.ui.prefs.phasereditor"
            name="Phaser Editor">
      </page>
   </extension>
</plugin>
