<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="assetConsumers" name="consumer" schema="schema/assetConsumers.exsd"/>
 	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.assetpack.core.AssetPackContentDescriber"
            file-extensions="json"
            id="phasereditor.assetpack.contentType"
            name="Phaser Asset Pack"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.assetpack.core.TilemapJSONDescriber"
            file-extensions="json"
            id="phasereditor.assetpack.tilemapJson"
            name="Phaser Tilemap"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.assetpack.core.TilemapImpactDescriber"
            file-extensions="json"
            id="phasereditor.assetpack.tilemapImpact"
            name="Impact Tilemap"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.assetpack.core.AnimationsContentTypeDescriber"
            file-extensions="json"
            id="phasereditor.assetpack.core.animations"
            name="Phaser Animations"
            priority="normal">
      </content-type>
   </extension>
  <extension
        point="phasereditor.project.core.buildParticipant">
     <participant
           handler="phasereditor.assetpack.core.AssetPackBuildParticipant"
           id="phasereditor.assetpack.core.assetpackbuilder"
           order="1">
     </participant>
     <participant
           handler="phasereditor.assetpack.core.animations.AnimationsFileBuilderParticipant"
           id="phasereditor.assetpack.core.animationsbuilder"
           order="0">
     </participant>
  </extension>
  <extension
        id="phasereditor.assetpack.core.problem"
        name="Asset Pack Problem"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="true">
     </persistent>
     <super
           type="phasereditor.project.core.problem">
     </super>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="phasereditor.assetpack.core.assetPackContentTypeTest">
           <and>
          <instanceof
               value="org.eclipse.core.resources.IFile">
         </instanceof>
        <test
              property="org.eclipse.core.resources.contentTypeId"
              value="phasereditor.assetpack.contentType">
        </test>
        </and>
     </definition>
     
     <definition
           id="phasereditor.assetpack.core.animationsContentTypeTest">
           <and>
          <instanceof
               value="org.eclipse.core.resources.IFile">
         </instanceof>
        <test
              property="org.eclipse.core.resources.contentTypeId"
              value="phasereditor.assetpack.core.animations">
        </test>
        </and>
     </definition>
     
  </extension>
</plugin>
