<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.canvas.core.CanvasCacheBuilderParticipant"
            id="phasereditor.canvas.core.canvasCacheBuilder"
            order="3">
      </participant>
      <participant
            handler="phasereditor.canvas.core.CanvasFilesValidationBuildParticipant"
            id="phasereditor.canvas.core.canvasValidator"
            order="4">
      </participant>
   </extension>
   <extension
         id="phasereditor.canvas.core.problem"
         name="Canvas Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="phasereditor.project.core.problem">
      </super>
   </extension>
   <extension
         id="phasereditor.canvas.core.objectref"
         name="Canvas Object Reference"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="EDITOR_ID_ATTR">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.jsdt.core.jsonSource"
            describer="phasereditor.canvas.core.contenttype.CanvasContentTypeDescriber"
            file-extensions="canvas"
            id="phasereditor.canvas.core.canvasContentType"
            name="Canvas"
            priority="normal">
      </content-type>
      <content-type
            base-type="phasereditor.canvas.core.canvasContentType"
            describer="phasereditor.canvas.core.contenttype.PrefabSpriteContentTypeDescriber"
            file-extensions="canvas"
            id="phasereditor.canvas.core.spriteContentType"
            name="Prefab Sprite Canvas"
            priority="normal">
      </content-type>
      <content-type
            base-type="phasereditor.canvas.core.canvasContentType"
            describer="phasereditor.canvas.core.contenttype.PrefabGroupContentTypeDescriber"
            file-extensions="canvas"
            id="phasereditor.canvas.core.groupContentType"
            name="Prefab Group Canvas"
            priority="normal">
      </content-type>
      <content-type
            base-type="phasereditor.canvas.core.canvasContentType"
            describer="phasereditor.canvas.core.contenttype.StateContentTypeDescriber"
            id="phasereditor.canvas.core.stateContentType"
            name="State Canvas"
            priority="normal">
      </content-type>
   </extension>

</plugin>
