<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.scene.ui.editor.SceneEditor"
            default="false"
            icon="platform:/plugin/phasereditor.ui/icons/canvas.png"
            id="phasereditor.scene.ui.editor.SceneEditor"
            name="Scene Editor">
         <contentTypeBinding
               contentTypeId="phasereditor.scene.core.SceneContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="phasereditor.scene.ui.editor.category"
            name="Scene Editor">
      </category>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.positionTool"
            name="Show Position Tool">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.scaleTool"
            name="Show Scale Tool">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.angleTool"
            name="Show Angle Tool">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.originTool"
            name="Show Origin Tool">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.resizeTileSprite"
            name="Resize Tile Sprite">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.order_UP"
            name="Move Objects Up">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.order_DOWN"
            name="Move Objects Down">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.order_TOP"
            name="Move Objects to the Top">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.order_BOTTOM"
            name="Move Objects to the Bottom">
      </command>
      <command
            categoryId="phasereditor.scene.ui.editor.category"
            id="phasereditor.scene.ui.editor.duplicateObjects"
            name="Duplicate Selected Objects">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.scene.ui.editor.handlers.ShowPositionToolHandler"
            commandId="phasereditor.scene.ui.editor.positionTool">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContext">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ShowScaleToolHandler"
            commandId="phasereditor.scene.ui.editor.scaleTool">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContext">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ShowAngleToolHandler"
            commandId="phasereditor.scene.ui.editor.angleTool">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContext">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ShowOriginToolHandler"
            commandId="phasereditor.scene.ui.editor.originTool">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContext">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ResizeTileSpriteHandler"
            commandId="phasereditor.scene.ui.editor.resizeTileSprite">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContextHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ChangeObjectsOrderHandler"
            commandId="phasereditor.scene.ui.editor.order_UP">
          <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ChangeObjectsOrderHandler"
            commandId="phasereditor.scene.ui.editor.order_DOWN">
          <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ChangeObjectsOrderHandler"
            commandId="phasereditor.scene.ui.editor.order_TOP">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.ChangeObjectsOrderHandler"
            commandId="phasereditor.scene.ui.editor.order_BOTTOM">
          <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.scene.ui.editor.handlers.DuplicateSelectedObjectsHandler"
            commandId="phasereditor.scene.ui.editor.duplicateObjects">
         <activeWhen>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="phasereditor.scene.ui.editor.positionTool"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.scaleTool"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="S">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.angleTool"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="N">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.originTool"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="O">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.resizeTileSprite"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="L">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.order_UP"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_UP">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.order_DOWN"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_DOWN">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.order_TOP"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="HOME">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.order_BOTTOM"
            contextId="phasereditor.scene.ui.editor.objects"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END">
      </key>
      <key
            commandId="phasereditor.scene.ui.editor.duplicateObjects"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="phasereditor.scene.ui.editor.sceneContext">
         <or>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.scene.ui.editor.SceneEditor">
               </equals>
            </with>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.ui.views.ContentOutline">
                  </equals>
               </with>
               <with
                     variable="activeEditorId">
                  <equals
                        value="phasereditor.scene.ui.editor.SceneEditor">
                  </equals>
               </with>
            </and>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="phasereditor.scene.ui.editor.objects">
                  </equals>
               </iterate>
            </with>
         </or>
      </definition>
      <definition
            id="phasereditor.scene.ui.editor.hasSelection">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="phasereditor.scene.ui.editor.sceneContextHasSelection">
         <and>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContext">
            </reference>
            <reference
                  definitionId="phasereditor.scene.ui.editor.hasSelection">
            </reference>
         </and>
      </definition>
      <definition
            id="phasereditor.scene.ui.editor.toolbar">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="phasereditor.scene.ui.editor.command">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="phasereditor.scene.ui.editor.sceneAndToolbarHasSelection">
         <or>
            <reference
                  definitionId="phasereditor.scene.ui.editor.toolbar">
            </reference>
            <reference
                  definitionId="phasereditor.scene.ui.editor.sceneContextHasSelection">
            </reference></or>
      </definition>
   </extension>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.scene.ui.editor.build.SceneEditorProjectBuildParticipant"
            id="phasereditor.scene.ui.editor.build.SceneEditorProjectBuildParticipant"
            order="999">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="The scene objects context, like the scene or the outline."
            id="phasereditor.scene.ui.editor.objects"
            name="Objects Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="phasereditor.scene.ui.editor.command"
            name="Scene Properties section command.">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="phasereditor.scene.ui.editor.wizardCategory"
            name="Scene"
            parentCategory="phasereditor.ui.wizardCategory">
      </category>
      <wizard
            category="phasereditor.scene.ui.editor.wizardCategory"
            class="phasereditor.scene.ui.editor.wizards.NewSceneFileWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/new_canvas.png"
            id="phasereditor.scene.ui.editor.wizards.NewSceneFileWizard"
            name="Scene File">
         <description>
            Creates a new Scene file.
         </description>
         <keywordReference
               id="phasereditor.scene.ui.editor.keywordCanvas">
         </keywordReference>
         <keywordReference
               id="phasereditor.scene.ui.editor.keywordPrefab">
         </keywordReference>
         <keywordReference
               id="phasereditor.scene.ui.editor.keywordScene">
         </keywordReference>
         <keywordReference
               id="phasereditor.scene.ui.editor.keywordSprite">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="phasereditor.scene.ui.editor.keywordScene"
            label="Scene">
      </keyword>
      <keyword
            id="phasereditor.scene.ui.editor.keywordSprite"
            label="Sprite">
      </keyword>
      <keyword
            id="phasereditor.scene.ui.editor.keywordCanvas"
            label="Canvas">
      </keyword>
      <keyword
            id="phasereditor.scene.ui.editor.keywordPrefab"
            label="Prefab">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.scene.ui.editor.wizards.NewSceneFileWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.scene.ui.editor.wizards.NewSceneFileWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="phasereditor.scene.ui.editor.duplicateObjects"
            icon="platform:/plugin/phasereditor.ui/icons/shape-duplicate.png">
      </image>
      <image
            commandId="phasereditor.scene.ui.editor.order_UP"
            icon="platform:/plugin/phasereditor.ui/icons/depth-up.png">
      </image>
      <image
            commandId="phasereditor.scene.ui.editor.order_DOWN"
            icon="platform:/plugin/phasereditor.ui/icons/depth-down.png">
      </image>
      <image
            commandId="phasereditor.scene.ui.editor.order_TOP"
            icon="platform:/plugin/phasereditor.ui/icons/depth-top.png">
      </image>
      <image
            commandId="phasereditor.scene.ui.editor.order_BOTTOM"
            icon="platform:/plugin/phasereditor.ui/icons/depth-bottom.png">
      </image>
   </extension>

</plugin>
