<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.atlas.ui.wizards.NewAtlasMakerWizard"
            finalPerspective="phasereditor.ide.ui.perspective"
            icon="platform:/plugin/phasereditor.ui/icons/atlas-add.png"
            id="phasereditor.atlas.ui.wizards.new.atlasmaker"
            name="Atlas Generator File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.resources.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="phasereditor.atlas.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="phasereditor.atlas.ui.wizards.new.atlasmaker">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="phaser.new.other"
            type="new"
            wizardId="phasereditor.atlas.ui.wizards.new.atlasmaker">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.atlas.ui.editors.AtlasGeneratorEditor"
            extensions="atlas"
            icon="platform:/plugin/phasereditor.ui/icons/images.png"
            id="phasereditor.atlas.ui.editors.AtlasGenEditor"
            name="Atlas Generator">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.atlas.ui.editors.AtlasGenEditor?before=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.atlas.ui.handlers.DeleteAtlasSelectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
