<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="phasereditor.project.core.buildParticipant">
      <participant
            handler="phasereditor.atlas.core.AtlasFileBuilderParticipant"
            id="phasereditor.atlas.core.atlasDataBuilder"
            order="0">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="atlas"
            id="phasereditor.atlas.core.atlasContentType"
            name="Atlas File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="phasereditor.atlas.core.atlasContentTypeTest">
            <and>
         <instanceof
               value="org.eclipse.core.resources.IFile">
         </instanceof>
         <test
               property="org.eclipse.core.resources.contentTypeId"
               value="phasereditor.atlas.core.atlasContentType">
         </test>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="phasereditor.atlas.core.refactoring.RenameTexturePackerFile"
            id="phasereditor.atlas.core.refactoring.RenameTexturePackerFile"
            name="Rename Texture Packer Output Files">
         <enablement>
            <reference
                  definitionId="phasereditor.atlas.core.atlasContentTypeTest">
            </reference>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="phasereditor.atlas.core.refactoring.MoveTexturePackerFile"
            id="phasereditor.atlas.core.refactoring.MoveTexturePackerFile"
            name="Move Texture Packer Output Files">
         <enablement>
            <reference
                  definitionId="phasereditor.atlas.core.atlasContentTypeTest">
            </reference></enablement>
      </moveParticipant>
   </extension>

</plugin>
