<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.canvas.ui.editors.CanvasEditor"
            default="false"
            extensions="canvas"
            icon="platform:/plugin/phasereditor.ui/icons/canvas.png"
            id="phasereditor.canvas.ui.editors.canvas"
            name="Canvas">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.canvas.ui.wizards.NewCanvasWizard"
            hasPages="true"
            icon="platform:/plugin/phasereditor.ui/icons/canvas.png"
            id="phasereditor.canvas.ui.newCanvasWizard"
            name="Canvas">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.canvas.ui.editors.canvas?after=object">
         <command
               commandId="phasereditor.canvas.ui.riseToTop"
               icon="platform:/plugin/phasereditor.ui/icons/shape_move_front.png"
               label="Rise To Top"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.rise"
               icon="platform:/plugin/phasereditor.ui/icons/shape_move_forwards.png"
               label="Rise"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.lower"
               icon="platform:/plugin/phasereditor.ui/icons/shape_move_backwards.png"
               label="Lower"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.lowerBottom"
               icon="platform:/plugin/phasereditor.ui/icons/shape_move_back.png"
               label="Lower To Bottom"
               style="push">
         </command>
         <separator
               name="phasereditor.canvas.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.canvas.ui.makegroup"
               icon="platform:/plugin/phasereditor.ui/icons/shape_group.png"
               label="Make Group With Selection"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.emptygroup"
               icon="platform:/plugin/phasereditor.ui/icons/shape_square_group.png"
               label="Make Empty Group"
               style="push">
         </command>
         <separator
               name="phasereditor.canvas.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="phasereditor.canvas.ui.editor.category"
            name="Canvas">
      </category>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.rise"
            name="Rise">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.lower"
            name="Lower">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.lowerBottom"
            name="Lower To Bottom">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.riseToTop"
            name="Rise To Top">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.makegroup"
            name="Make Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.emptygroup"
            name="Make Empty Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.escape"
            name="Escape">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.canvas.ui.handlers.RiseShapeHandler"
            commandId="phasereditor.canvas.ui.rise">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.LowerShapeHandler"
            commandId="phasereditor.canvas.ui.lower">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.RiseTopShapeHandler"
            commandId="phasereditor.canvas.ui.riseToTop">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.LowerBottomShapeHandler"
            commandId="phasereditor.canvas.ui.lowerBottom">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.DeleteShapesHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MakeGroupHandler"
            commandId="phasereditor.canvas.ui.makegroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MakeEmptyGroupHandler"
            commandId="phasereditor.canvas.ui.emptygroup">
         <activeWhen>
            <and>
               <reference
                     definitionId="phasereditor.canvas.ui.shapesSelected">
               </reference>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AbortOperationHandler"
            commandId="phasereditor.canvas.ui.escape">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.canvas.ui.editors.canvas">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="phasereditor.canvas.ui.rise"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence ="HOME">
            </key>
      <key
            commandId="phasereditor.canvas.ui.riseToTop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_UP">
      </key>
      <key
            commandId="phasereditor.canvas.ui.lower"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END">
      </key>
      <key
            commandId="phasereditor.canvas.ui.lowerBottom"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_DOWN">
      </key>
      <key
            commandId="phasereditor.canvas.ui.escape"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="phasereditor.canvas.ui.shapesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="phasereditor.canvas.ui.shapes.IObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
