<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="phasereditor.canvas.ui.editors.CanvasEditor"
            default="false"
            extensions="canvas"
            icon="platform:/plugin/phasereditor.ui/icons/canvas.png"
            id="phasereditor.canvas.ui.editors.canvas"
            name="Canvas">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="phasereditor.ui.wizardCategory"
            class="phasereditor.canvas.ui.wizards.NewCanvasWizard"
            hasPages="true"
            icon="platform:/plugin/phasereditor.ui/icons/canvas.png"
            id="phasereditor.canvas.ui.newCanvasWizard"
            name="Canvas">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:phasereditor.canvas.ui.editors.canvas?after=object">
        
	         <menu
                icon="platform:/plugin/phasereditor.ui/icons/shape_move_front.png"
                label="Rise And Lower">
	               
	                <command
	               commandId="phasereditor.canvas.ui.riseToTop"
	               icon="platform:/plugin/phasereditor.ui/icons/shape_move_front.png"
	               label="Rise To Top"
	               style="push">
	         </command>
	         <command
	               commandId="phasereditor.canvas.ui.rise"
	               icon="platform:/plugin/phasereditor.ui/icons/shape_move_forwards.png"
	               label="Rise"
	               style="push">
	         </command>
	         <command
	               commandId="phasereditor.canvas.ui.lower"
	               icon="platform:/plugin/phasereditor.ui/icons/shape_move_backwards.png"
	               label="Lower"
	               style="push">
	         </command>
	         <command
	               commandId="phasereditor.canvas.ui.lowerBottom"
	               icon="platform:/plugin/phasereditor.ui/icons/shape_move_back.png"
	               label="Lower To Bottom"
	               style="push">
	         </command>
	         
         </menu>
         <menu
               icon="platform:/plugin/phasereditor.ui/icons/shape_align_center.png"
               label="Align">
            
            
            
            <command
                  commandId="phasereditor.canvas.ui.align.left"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_left.png"
                  label="Align Left"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.align.right"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_right.png"
                  label="Align Right"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.align.top"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_top.png"
                  label="Align Top"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.align.bottom"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_bottom.png"
                  label="Align Bottom"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.align.center"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_center.png"
                  label="Align Center"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.align.middle"
                  icon="platform:/plugin/phasereditor.ui/icons/shape_align_middle.png"
                  label="Align Middle"
                  style="push">
            </command>
            
            
            
         </menu>
         <separator
               name="phasereditor.canvas.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="phasereditor.canvas.ui.makegroup"
               icon="platform:/plugin/phasereditor.ui/icons/shape_group.png"
               label="Group Selection"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.emptygroup"
               icon="platform:/plugin/phasereditor.ui/icons/shape_square_group.png"
               label="Create Empty Group"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.ungroup"
               label="Break Group"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.trimGroup"
               label="Trim Group"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.closeGroup"
               label="Close Group"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.openGroup"
               label="Open Group"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.pick"
               label="Allow Pick Object"
               style="push">
         </command>
         <command
               commandId="phasereditor.canvas.ui.nopick"
               label="Deny Pick Object"
               style="push">
         </command>
         <separator
               name="phasereditor.canvas.ui.separator2"
               visible="true">
         </separator>
         <menu
               label="Morph To">
            <command
                  commandId="phasereditor.canvas.ui.morphToTilesprite"
                  label="Tile Sprite"
                  style="push">
            </command>
            <command
                  commandId="phasereditor.canvas.ui.morphToButton"
                  label="Button"
                  style="push">
            </command>
         </menu>
         <separator
               name="phasereditor.canvas.ui.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="phasereditor.canvas.ui.editor.category"
            name="Canvas">
      </category>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Rise one level the selected node."
            id="phasereditor.canvas.ui.rise"
            name="Canvas: Rise">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Lower one level the selected node."
            id="phasereditor.canvas.ui.lower"
            name="Canvas: Lower">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Lower to bottom the selected node."
            id="phasereditor.canvas.ui.lowerBottom"
            name="Canvas: Lower To Bottom">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Rise to top the selected node."
            id="phasereditor.canvas.ui.riseToTop"
            name="Canvas: Rise To Top">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Make a group with the selected nodes."
            id="phasereditor.canvas.ui.makegroup"
            name="Canvas: Make Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Make empty group."
            id="phasereditor.canvas.ui.emptygroup"
            name="Canvas: Make Empty Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.escape"
            name="Canvas: Escape">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Align to left the selected nodes."
            id="phasereditor.canvas.ui.align.left"
            name="Canvas: Align Left">
      </command>
     <command
           categoryId="phasereditor.canvas.ui.editor.category"
           description="Align to top the selected nodes."
           id="phasereditor.canvas.ui.align.top"
           name="Canvas: Align Top">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Align to right the selected nodes."
            id="phasereditor.canvas.ui.align.right"
            name="Canvas: Align Right">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Align to bottom the selected nodes."
            id="phasereditor.canvas.ui.align.bottom"
            name="Canvas: Align Bottom">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Align to bottom the selected nodes."
            id="phasereditor.canvas.ui.align.center"
            name="Canvas: Align Center">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Align to middle the selected nodes."
            id="phasereditor.canvas.ui.align.middle"
            name="Canvas: Align Middle">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Remove the white space from the left and top of the groups."
            id="phasereditor.canvas.ui.trimGroup"
            name="Canvas: Trim Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="break up a group."
            id="phasereditor.canvas.ui.ungroup"
            name="Canvas: Break Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Open a group for selection."
            id="phasereditor.canvas.ui.openGroup"
            name="Canvas: Open Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="close a group for selection."
            id="phasereditor.canvas.ui.closeGroup"
            name="Canvas: Close Group">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Allow a node to be picked by the mouse."
            id="phasereditor.canvas.ui.pick"
            name="Canvas: Allow Pick">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            description="Deny a node to be picked by the mouse."
            id="phasereditor.canvas.ui.nopick"
            name="Canvas: Allow Pick">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.morphToTilesprite"
            name="Morph To Tile Sprite">
      </command>
      <command
            categoryId="phasereditor.canvas.ui.editor.category"
            id="phasereditor.canvas.ui.morphToButton"
            name="Morph To Button">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="phasereditor.canvas.ui.handlers.RiseShapeHandler"
            commandId="phasereditor.canvas.ui.rise">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.LowerShapeHandler"
            commandId="phasereditor.canvas.ui.lower">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.RiseTopShapeHandler"
            commandId="phasereditor.canvas.ui.riseToTop">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.LowerBottomShapeHandler"
            commandId="phasereditor.canvas.ui.lowerBottom">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.DeleteShapesHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MakeGroupHandler"
            commandId="phasereditor.canvas.ui.makegroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MakeEmptyGroupHandler"
            commandId="phasereditor.canvas.ui.emptygroup">
         <activeWhen>
            <or>
            	<and>
               		<reference
                     		definitionId="phasereditor.canvas.ui.shapesSelected">
               		</reference>
               		<with
                     	variable="selection">
                  		<count
                        	value="1">
                  		</count>
               		</with>
            	</and>
            	<with
                	variable="selection">
              		<count
                       	value="!">
           			</count>
               	</with>
             </or>  		
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AbortOperationHandler"
            commandId="phasereditor.canvas.ui.escape">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="phasereditor.canvas.ui.editors.canvas">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.left">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.top">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.right">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.bottom">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.center">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.AlignShapeHandler"
            commandId="phasereditor.canvas.ui.align.middle">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.TrimGroupHandler"
            commandId="phasereditor.canvas.ui.trimGroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.groupsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.UngroupHandler"
            commandId="phasereditor.canvas.ui.ungroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.groupsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.CloseOpenGroupHandler"
            commandId="phasereditor.canvas.ui.openGroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.groupsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.CloseOpenGroupHandler"
            commandId="phasereditor.canvas.ui.closeGroup">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.groupsSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.PickHandler"
            commandId="phasereditor.canvas.ui.pick">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.PickHandler"
            commandId="phasereditor.canvas.ui.nopick">
         <enabledWhen>
            <reference
                  definitionId="phasereditor.canvas.ui.shapesSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MorphToTileSpriteHandler"
            commandId="phasereditor.canvas.ui.morphToTilesprite">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="phasereditor.canvas.ui.shapes.ImageSpriteNode">
                     </instanceof>
                     <instanceof
                           value="phasereditor.canvas.ui.shapes.AtlasSpriteNode">
                     </instanceof>
                     <instanceof
                           value="phasereditor.canvas.ui.shapes.SpritesheetSpriteNode">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="phasereditor.canvas.ui.handlers.MorphToButtonSpriteHandler"
            commandId="phasereditor.canvas.ui.morphToButton">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="phasereditor.canvas.ui.shapes.ImageSpriteNode">
                     </instanceof>
                     <instanceof
                           value="phasereditor.canvas.ui.shapes.AtlasSpriteNode">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="phasereditor.canvas.ui.rise"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence ="HOME">
            </key>
      <key
            commandId="phasereditor.canvas.ui.riseToTop"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_UP">
      </key>
      <key
            commandId="phasereditor.canvas.ui.lower"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END">
      </key>
      <key
            commandId="phasereditor.canvas.ui.lowerBottom"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAGE_DOWN">
      </key>
      <key
            commandId="phasereditor.canvas.ui.escape"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
      <key
            commandId="phasereditor.canvas.ui.openGroup"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+C">
      </key>
      <key
            commandId="phasereditor.canvas.ui.closeGroup"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="C">
      </key>
      <key
            commandId="phasereditor.canvas.ui.trimGroup"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="T">
      </key>
      <key
            commandId="phasereditor.canvas.ui.ungroup"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+G">
      </key>
      <key
            commandId="phasereditor.canvas.ui.makegroup"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="G">
      </key>
      <key
            commandId="phasereditor.canvas.ui.pick"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="P">
      </key>
      <key
            commandId="phasereditor.canvas.ui.nopick"
            contextId="phasereditor.canvas.ui.nodescontext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="phasereditor.canvas.ui.shapesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="phasereditor.canvas.ui.shapes.IObjectNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="phasereditor.canvas.ui.groupsSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="phasereditor.canvas.ui.shapes.GroupNode">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="In scene and outline."
            id="phasereditor.canvas.ui.nodescontext"
            name="Nodes Area Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="phasereditor.canvas.ui.scenecontext"
            name="In scene.">
      </context>
   </extension>

</plugin>
