<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="phasereditor.lic.internal.ui.handlers.ActivateProductHandler"
            description="Enter the license key to activate Phaser Editor."
            id="phasereditor.lic.activate"
            name="Activate Phaser Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=about">
         <command
               commandId="phasereditor.lic.activate"
               icon="icons/lock.png"
               label="Phaser Editor Activation"
               style="push">
         </command>
         <separator
               name="phasereditor.lic.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
