<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="phasereditor.bmpfont.core.XmlBitmapFontContentType"
            file-extensions="xml"
            id="phasereditor.bmpfont.core.xmlBitmapFontContentType"
            name="XML Bitmap Font"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="phasereditor.bmpfont.core.JsonBitmapFontContentType"
            file-extensions="json"
            id="phasereditor.bmpfont.core.jsonBitmapFontContentType"
            name="JSON Bitmap Font"
            priority="normal">
      </content-type>
   </extension>

</plugin>
