<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.chains.ui.views.ChainsView"
            icon="platform:/plugin/phasereditor.ui/icons/link.png"
            id="phasereditor.chains.ui.views.chains"
            name="Phaser Chains"
            restorable="true">
      </view>
   </extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="toolbar:phasereditor.chains.ui.views.chains?after=additions">
      <command
            commandId="phasereditor.inspect.ui.runPhaserExample"
            icon="platform:/plugin/phasereditor.ui/icons/world.png"
            style="push">
      </command>
      <command
            commandId="phasereditor.project.ui.createExampleProject"
            icon="platform:/plugin/phasereditor.ui/icons/new_phaser_project.png"
            style="push">
      </command>
      <separator
            name="phasereditor.chains.ui.separator1"
            visible="true">
      </separator>
      <command
            commandId="phasereditor.inspect.ui.showInHierarchy"
            style="push">
      </command>
      <command
            commandId="phasereditor.inspect.ui.showPhaserJsdoc"
            style="push">
      </command>
      <command
            commandId="phasereditor.inspect.ui.showSourceCode"
            icon="platform:/plugin/phasereditor.ui/icons/source.png"
            style="push">
      </command>
   </menuContribution>
</extension>
</plugin>
