<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            category="phasereditor.ui.phaser"
            class="phasereditor.chains.ui.views.ChainsView"
            icon="platform:/plugin/phasereditor.ui/icons/link.png"
            id="phasereditor.chains.ui.views.chains"
            name="Phaser Chains"
            restorable="true">
      </view>
   </extension>
</plugin>
